/* HOME CSS */
.nav-menu a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 500;
    font-size: 13px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #2e2e2e;
    padding: 9px;
    transition: .5s;
    margin-right: 10px;
}

.nav-menu a:hover {
    background-color: #2e2e2e;
    color: #FFFFFF;
    border-bottom: 1px solid transparent;
}

/* ADD FOOD CSS */
form.addfood-form, form.addstudent-form {
    width: 50%;
    margin: auto;
}

form.addfood-form label,
form.addstudent-form label,
form.addfood-form input,
form.addstudent-form input {
    display: block;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-bottom: 6px;
}

form.addfood-form label,
form.addstudent-form label {
    font-size: 16px;
    font-weight: 500;
}

form.addfood-form input,
form.addstudent-form input {
    outline: none;
    padding: 10px;
}

input.addfood-btn, input.addstudent-btn {
    text-align: center !important;
    width: 200px !important;
    margin-top: 17px !important;
    background-color: #2e2e2e;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-weight: 500;
    transition: .3s;
}

input.addfood-btn:hover,
input.addstudent-btn:hover,  
.fooditem-edit:hover, 
.fooditem-delete:hover{
    border: 1px solid #2e2e2e;
    background-color: #FFFFFF;
    color: #2e2e2e;
}

h2.food-table-title {
    margin-top: 54px;
}

.fooditem-edit, 
.fooditem-delete{
    text-align: center !important;
    padding: 5px 15px;
    margin-top: 17px !important;
    background-color: #2e2e2e;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-weight: 500;
    transition: .3s;
}


/* Student ADD FORM CSS */
p.stdn-stts {
    width: 80%;
    margin: auto;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

h2.student-table-title {
    margin-top: 35px;
    margin-bottom: 20px;
}